
.navbar{
    background-color: #1C487E !important;
}

.text-color{
    color: #1C487E !important;
}

.text-color:hover{
    color: #1C487E !important;
}

.text-style{
    font-family: sans-serif;
    letter-spacing: 0.05em;
}

.bg-container{
    background-color: #1C487E !important;
}

.card-color{
    background-color: #0D014D !important;
}

.login-card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.responsive-height {
    height: 70vh;
}

@media (max-width: 576px) {
    .responsive-height {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* App.css */
.navbar-brand, .navbar-toggler {
    display: flex;
    align-items: center;
}

.navbar .container > .d-flex {
    width: 100%;
}

.footer-nav .container > .row {
    text-align: center;
}

.footer-nav .container > .row > .col {
    margin-bottom: 15px;
}

@media (max-width: 576px) {
    .footer-img {
        max-width: 80px;
    }
}

.dropdown-menu {
    color: white !important;
}
